.sidebar {
    width: 250px;                 /* fixed width */
    height: 100vh;
    padding: 20px 10px;
    border-radius: 10px;
}

/* MENU LIST */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;                   /* smaller gap */
    padding: 0;
}

/* EACH ITEM */
ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    font-size: 28px;             /* reduce size */
    color: black;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

/* ICON */
ul li img {
    height: 30px;
    width: 30px;
}

/* HOVER EFFECT */
ul li:hover {
    color: aliceblue;
}

/* ACTIVE ITEM */
ul li a.active{
    color: #334155;
    border-radius: 10px;

}
ul a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #334155;
}
ul a:hover{
    color: #F97316;
}